html {
  font-family: 'PT Sans Caption', sans-serif;
  font-size: 16px;
  line-height: 1.5;
}


.header {
  background-color: #343c4e;
  background-image: url('../image/bg/bg-header.jpg');
  background-repeat: no-repeat;
  background-position: center;
	background-size: cover; /*изображение пропорционально растягивается и занимает весь блок внутри которого находиться*/
  height: 100vh;

  color: #ffffff;
  text-align: center;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center; 

	position: relative;
}

.header_title {
	font-size: 56px;
	margin-bottom: 30px;
	margin-top: -56px;
	font-family: 'Merriweather', serif;
}

.header_slogan {
	font-size: 28px;
	line-height: 42px;
}

.header_arrow {
	font-size: 48px;
	width: 60px;
	height: 50px;
	margin-left: -30px;

	position: absolute;
	bottom: 50px;
	left: 50%;
}